body{
width:1160px;
margin:auto;
background-color: #ffffff;
font-family: "raleway regular";
line-height: 2;
}

html{
background-color:#f5f5f5;}

/** header **/
img{
width:150px;
height:150px;
border:3px solid #ffffff;
border-radius: 50%;
object-fit:cover;
}

header,footer{
    background-color: #17abb3;
    color:#ffffff;
    line-height: 1;
    padding:10px;
}

header{
display:flex;
justify-content:space-around;
align-items:center;
}

.coordonnees{
display:flex;
justify-content: space-between;
align-items:center;
list-style-type: none;
}
.coordonnees li{
padding:0px 10px;
line-height: 2;}

.titres{
text-align:center;}

/** content **/

main{
display:flex;
flex-direction:row-reverse;
gap:10px;
}

main h2,main i{
color:#17abb3;}

.aside{
width:60%;
background-color: rgb(227,227,227,0.4);
padding:0 40px;
}

.face{
padding:0;
margin:0;}

.face li{ 
display:flex;
flex-direction:row;
justify-content: space-between;
list-style: none;
}

.corps{
    padding:0 40px;
}

.corps p{
text-indent:30px;
text-align:justify;}

.corps ul{
list-style-type: none;
padding:0;
margin:0;}

.puces li{
list-style-type:square;
}

.puces ul{
padding:0;
margin:15px;}

.puces li::marker{
color:#17abb3;}

hr{
    border:none;
    border-bottom: 1px solid rgb(51,51,51,0.1);
}

@font-face{
font-family: "raleway regular";
src: url('../fonts/Raleway/Raleway-Regular.woff');}

@font-face{
font-family:"raleway italic";
src: url('../fonts/Raleway/Raleway-Italic.woff');}

@font-face{
font-family:"raleway bold";
src: url('../fonts/Raleway/Raleway-Bold.woff');}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

h1,h2{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.formations li{
display:flex;
flex-direction:row;
justify-content: space-between;
list-style: none;}

.date{
color:#17abb3;}

.bold{
font-family:"raleway bold";
}

small{
font-style: italic;}

/** footer **/

footer{
text-align:center;
padding:10px 10px;
}
footer p{
font-style: italic;}
